* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Chivo Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  background-color: gray;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 25px;
}

html {
  scroll-behavior: smooth;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
}

.nav-item a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-item a:hover {
  color: #4d2323;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.section-subtitle {
  font-size: 14px;
  text-align: center;
}

.flex-item {
  width: 33.3%;
}

#profile {
  justify-content: space-around;
}

footer {
  background-color: gray;
}

h2 {
  margin-bottom: 5px;
}
